body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-image:url("../images/01-02-02_background-img.jpg");
    background-color:green;
}
p{
    font-weight: bold;
}